body {
    background-color: #f3f3f3;
    overflow: hidden;
}

#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    z-index: 1;
    overflow-y: auto;
    background-color: #111;
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
}

#sidebar.active {
    -ms-transform: translateX(280px);
    -webkit-transform: translateX(280px);
    transform: translateX(280px);
}

#sidebar_panel {
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

#wrapper {
    background-color: #f3f3f3;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.pic {
    width: 56px;
    height: 56px;
    background-color: #f5f5f5;
}

.pic i {
    color: #757575;
}

.tbar {
    height: 56px;
    background-color: #f3f3f3;
}

.tbar .btn-icon {
    width: 56px;
    height: 56px;
}

.gap {
    padding: 1rem;
}

.v-line {
    background-color: #d3d3d3;
    width: 1px;
    z-index: 1;
}

.h-line {
    background-color: #d3d3d3;
    height: 1px;
    z-index: 1;
}

.form-control:focus,
.custom-select:focus {
    border-bottom-color: #2196F3;
    border-bottom-width: 2px;
    outline: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, .57);
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 1000;
}

.modal-border {
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.page-title {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: bold;
}

a {
    color: #3F51B5;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    color: #303F9F;
    text-decoration: none;
}

.btn-secondary {
    background-color: #009688;
}

.btn-group>.btn-secondary,
.btn-group>.btn-secondary:active,
.btn-group>.btn-secondary:focus,
.btn-group>.btn-secondary:hover,
.btn-group-vertical>.btn-secondary,
.btn-group-vertical>.btn-secondary:active,
.btn-group-vertical>.btn-secondary:focus,
.btn-group-vertical>.btn-secondary:hover {
    color: #009688;
}

.btn-secondary:active,
.btn-secondary.active {
    background-color: #00796B;
}

.btn-primary {
    background-color: #2196F3;
}

.btn-group>.btn-primary,
.btn-group>.btn-primary:active,
.btn-group>.btn-primary:focus,
.btn-group>.btn-primary:hover,
.btn-group-vertical>.btn-primary,
.btn-group-vertical>.btn-primary:active,
.btn-group-vertical>.btn-primary:focus,
.btn-group-vertical>.btn-primary:hover {
    color: #2196F3;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #1976D2;
}

.btn-success,
.btn-success:active,
.btn-success.focus,
.btn-success:hover {
    color: #fff;
}

#item-menu {
    width: 100%;
}

#item-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@media (min-width: 1280px) {
    #wrapper {
        left: 280px;
    }
    .pl-3-lg-up {
        padding-left: 1rem !important;
    }
}

@media (max-width: 1279px) {
    #sidebar {
        z-index: 4;
        left: -280px;
    }
    #sidebar_panel.active {
        z-index: 3;
        opacity: 1;
    }
}

@media (min-width: 960px) {
    #item-menu {
        width: 250px;
    }
    #item-container {
        left: 250px;
    }
}

@media (max-width: 959px) {
    .gap {
        padding: 0;
    }
    .bill.active {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background: #fff;
    }
}

@media (min-width: 600px) {}

@media (max-width: 599px) {
    .h-100-xs-down {
        height: 100% !important;
    }
    .pl-2-xs-down {
        padding-left: 0.5rem !important;
    }
    .pr-2-xs-down {
        padding-right: 0.5rem !important;
    }
    .w-100-xs-down {
        width: 100% !important;
    }
    .flex-xs-down {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
    }
}