<div class="overlay d-flex h-center v-center">
    <div class="d-flex flex-column bg-light-4 modal-border w-100-xs-down h-100-xs-down">
        <div class="tbar d-flex flex-row v-center">
            <div class="page-title flex pl-3">Create Item</div>
            <a class="d-flex v-center h-center btn-icon" (click)="location.back()">
                <i class="material-icons">close</i>
            </a>
        </div>
        <div class="h-line"></div>
        <div class="flex pt-3 pb-3">
            <div class="container width-md">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control">
                            <option>None</option>
                            <option>Food</option>
                            <option>Drink</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Price</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Picture</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-line"></div>
        <div class="tbar d-flex flex-row v-center h-center">
            <div class="flex pl-2">
                <button class="btn btn-primary btn-lg btn-block">Save</button>
            </div>
            <div class="p-1"></div>
            <div class="flex pr-2">
                <button class="btn btn-danger btn-lg btn-block" (click)="location.back()">Cancel</button>
            </div>
        </div>
    </div>
</div>