<div class="fill-dock d-flex h-center v-center">
    <div class="d-flex flex-column bg-light-4 modal-border w-100-xs-down h-100-xs-down">
        <div class="tbar d-flex flex-row v-center">
            <a class="d-flex v-center h-center btn-icon" touchable (singletap)="back()">
                <i class="material-icons">arrow_back</i>
            </a>
            <div class="d-flex flex v-center pr-3">
                <span class="page-title">Signup</span>
            </div>
        </div>
        <div class="h-line"></div>
        <div class="flex pt-3 pb-3">
            <div class="container" style="max-width: 800px">
                <div class="row justify-content-md-center">
                    <div class="col-md-8 pm-light-bg p-3">
                        <form ngNoForm>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>First name</label>
                                    <input class="form-control" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="txt-email">Last name</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-email">Email</label>
                                <input class="form-control" type="email">
                            </div>
                            <div class="form-group">
                                <label for="txt-password">Password</label>
                                <input class="form-control" type="password">
                            </div>
                            <div class="mt-2 mb-2 text-center">
                                <button type="button" class="btn btn-success">Create Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>